.movies-card{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 31%;
  justify-content: space-between;
  align-items: center;
  align-self: center;
  height: 230px;
}

.movies-card__link{
  width: 100%;
}

.movies-card__cover{
  width: 100%;
  height: 150px;
  object-fit: cover;
  cursor: pointer;
}

.movies-card__container{
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  margin: 15px 0;
  height: 28px;
}

.movies-card__button{
  background-image: url('../../images/like-button.svg');
  background-repeat: no-repeat;
  background-color: #F9F9F9;
  border: none;
  background-size: 8.5px 10px;
  background-position: center center;
  height: 25px;
  width: 25px;
  border-radius: 35px;
  cursor: pointer;
  align-self: center;
  transition: all ease .3s;
}

.movies-card__button_type_liked{
  background-image: url('../../images/like-button-active.svg');
}

.movies-card__button_type_saved{
  background-image: url('../../images/dislike-button.svg');
}

.movies-card__title{
  font-size: 13px;
  font-weight: 500;
  margin: 0;
  max-width: 226px;
}

.movies-card__duration-container{
  width: 100%;
  border-top: #E8E8E8 1px solid;
  padding-top: 5px;
}

.movies-card__duration{
  margin: 0;
  color: #A0A0A0;
  font-size: 11px;
  font-weight: 400;
  letter-spacing: -0.2px;
}


@media screen and (min-width: 1280px) {
  .movies-card{
    max-width: 270px;
  }
}


@media screen and (max-width: 768px) {
  .movies-card{
    width: 48.5%;
  }
  .movies-card__cover{
    height: 190px;
  }
  .movies-card__container{
    margin: 8px 0;
    height: 40px;
  }

}

@media screen and (max-width: 550px) {
  .movies-card{
    width: 100%;
  }

  .movies-card__cover{
    height: 168px;
    margin-bottom: 7px;
  }
  .movies-card__title{
    letter-spacing: -0.5px;
  }
  .movies-card__duration-container{
    margin-top: 24px;
    width: 100%;
    border-top: #E8E8E8 1px solid;
    padding-top: 1px;
  }
  .movies-card__container{
    height: 5px;
    align-items: center;
  }
}
