.mobile-menu {
  position: fixed;
  background-color: #fff;
  width: 0;
  height: 100vh;
  right: 0;
  top: 0;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  transition: width 0.3s ease-in-out;
  z-index: 5;
}

.mobile-menu.open {
  width: 67%;
}

.mobile-menu__links{
  display: flex;
  flex-direction: column;
  padding-top: 105px;
  text-align: center;
  gap: 30px;
}

.mobile-menu__link{
  color: #000;
  text-decoration: none;
  font-weight: 500;
  font-size: 18px;
}

.mobile-menu__link.active {
  text-decoration: underline;
  text-underline-offset: 5px;
  text-decoration-thickness: 2px;
}
.mobile-menu__profile{
  border-radius: 40px;
  display: flex;
  width: 100px;
  height: 35px;
  align-items: center;
  justify-content: center;
  gap: 7px;
  text-decoration: none;
  background-color: #fff;
  box-shadow: 0px 3px 14px 0px rgba(0, 0, 0, 0.08);
  align-self: center;
  margin-top: 55vh;
}

.mobile-menu__close-button{
  align-self: flex-end;
  margin: 22px 5% 0 0;
  height: 30px;
  width: 30px;
  background-position: center;
  background-color: transparent;
  border: none;
  background-image: url('../../images/close-button.svg');
}

@media screen and (min-width: 768px) {
  .mobile-menu {
    display: none;
  }
}

@media screen and (max-width: 550px) {
  .mobile-menu.open {
    width: 100%;
  }
}
