.techs{
  background-color: #F5F5F5;
}

.techs__wrapper{
  margin: auto;
  max-width: 1140px;
  padding: 100px 50px;
}

.techs__title{
  font-weight: 400;
  font-size: 22px;
  margin: 0;
  margin-bottom: 23px;
}

.techs__content{
  display: flex;
  flex-direction: column;
  border-top: 1px solid #000;
  align-items: center;
  padding-top: 90px;
}

.techs__subtitle{
  font-weight: 400;
  font-size: 50px;
  margin: 0;
  line-height: 58px;
  letter-spacing: -4%;
}

.techs__text{
  margin: 0;
  font-weight: 400;
  font-size: 14px;
  max-width: 460px;
  text-align: center;
  margin-top: 26px;
  line-height: 20px;
  letter-spacing: -4%;
}

.techs__list{
  display: flex;
  list-style: none;
  gap: 10px;
  padding: 0;
  margin: 0;
  margin-top: 100px;
  flex-wrap: wrap;
}

.techs__item{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #E8E8E8;
  height: 60px;
  width: 90px;
  font-size: 14px;
  font-weight: 400;
  border-radius: 10px;
}

@media screen and (max-width: 768px) {

  .techs__wrapper{
    padding: 90px 50px;
  }

  .techs__text{
    font-size: 12px;
  }
  .techs__list{
    margin-top: 80px;
  }
  .techs__item{
    height: 57px;
    width: 85px;
    font-size: 12px;
  }
}

@media screen and (max-width: 550px) {
  .techs{
    background-color: #fff;
  }
  .techs__wrapper{
    max-width: 90%;
    padding: 60px 0;
  }
  .techs__title{
    font-size: 18px;
    margin-bottom: 28px;
  }
  .techs__subtitle{
    font-size: 30px;
    margin: auto;
  }
  .techs__content{
    padding-top: 50px;
  }

  .techs__text{
    font-size: 11px;
    margin-top: 10px;
  }
  .techs__list{
    margin-top: 50px;
    max-width: 200px;
  }
}

